#title1 {
    font-size: 40px;
    color: rgb(61, 170, 170);
    padding-left: 10px;
    padding-top: 50px;
    /* background-color: white; */
 
}
#title2 {
    font-size: 30px;
    color: rgb(61, 170, 170);
    padding-left: 10px;
    padding-top: 60px;
}

#title3 {
    font-size: 30px;
    color: rgb(61, 170, 170);
    padding-left: 10px;
    padding-top: 40px;

}

h4 {
    font-size: 20px;
    color: rgb(61, 170, 170);
    /* padding-bottom: -10px;
    padding-top: -20px; */
    text-align: center;
    position: relative;
}

.navbar-light.navbar-brand {
    /* padding: 1px;
    background: rgb(61, 170, 170);
    font-size: 30px; */
    color: white;
    }

#xcolor1 {
    color: white;
    font-size: large;
}

#xcolor2 {
    color: white;
    font-size: large;
}

#xcolor3 {
    color: white;
    font-size: large;
}

#xcolor4 {
    color: white;
    font-size: large;
}

#titlecolor {
    color: white;
    font-size: xx-large;

}

body {
    background: #f1f1f1;
}
.block {
margin-left: auto;
margin-right: auto;
padding-left: 10px;
padding-right: 10px;
text-align: justify;
background-color: white;
width: 100%;
height: auto;

}

img {
    width: 100%;
    height: 100%;
   }

#main_image {
    width: 50%;
    height: 50%;
    float: left;
}

.col-md-6.wide_image {
    padding: 2px;

}

#xframe.col-md-6.wide_image {
    background-color: turquoise;
}

p {
margin-right: 40px;
}

#navbarDropdownMenuLink.nav-link.dropdown-toggle {
    color: white;
    font-size: large;

}