.title1 {
    font-size: 40px;
    color: rgb(61, 170, 170);
    padding-left: 10px;
    /* background-color: white; */
 
}
.title2 {
    font-size: 30px;
    color: rgb(61, 170, 170);
    padding-left: 10px;
}

/* .navbar {
    padding: 1px;
    background: rgb(61, 170, 170);
    font-size: 30px;
    color: white;
    } */

body {
    background: #f1f1f1;
}
.block {
margin-left: auto;
margin-right: auto;
padding-left: 10px;
padding-right: 10px;
text-align: justify;
background-color: white;
width: 100%;
height: auto;
border: 5px dashed #f7a239;
/* background: #f1f1f1; */

}

img {
    width: 100%;
    height: 100%;
   }